<div class = 'form'>
  <%= form_for @artist do |f| %>

    <%= f.label :billboard_id %>
    <%= f.text_field :billboard_id %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.submit %>
  <% end %>

</div>