<h1><%= @artist.id ? 'Edit' : 'New' %></hi>
<br/>
<div class = 'form'>
  <%= form_for [@billboard, @artist] do |f| %>

    <%= f.label :name %>
    <%= f.text_field :name, required: true  %>

    <%= f.submit %>
  <% end %>

</div>