<h1> <%= @billboard.name %> <%= @artist.name %></h1>
<div class="red_text">
<ul>
<li>
 <% @artist.songs.each do |song| %>
    <%= song.name %>
  <%end%>
</li>
</ul>
</div>

<div id="link_container">

<%= link_to 'Back to Artists', billboard_artists_path(@billboard) %>
<br/>
<%= link_to 'Edit', edit_billboard_artist_path(@billboard, @artist) %>
<br/>
<%= link_to 'Delete', [@billboard, @artist], method: :delete %>
<br/>
<%= link_to 'Songs', artist_songs_path(@artist) %>
</div>