<h1>Billboards</h1>
<h4>Name | Genre | No. </h4> 

<%= @billboard.name %>
<%= @billboard.genre %>
<%= @billboard.number %>

<%= link_to 'Create Artist', new_billboard_artist_path(@billboard) %>


<% @billboard.artists do |artist| %>
 <%= artist.name %>
  <br/>
  <% end %>
  <%= link_to 'Show Artist', billboard_artist_path(@billboard) %>

<%= link_to 'Back', billboards_path %>